<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Korero</title>

    <!-- Prod / dev separation removed because of Webpack -->
    <link rel="stylesheet" href="~/dist/vendor.bundle.css" />
    <link rel="stylesheet" href="~/dist/app.bundle.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Korero</a>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    <!-- Google's Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>
</html>
