<h1>Forum</h1>
<p>Some threads beneath</p>

<!--
threads?.total and not threads because async.
This checks if the data is valid, and then displays it. This is known as an Elvis operator.    -->

<ul class="list-unstyled">
    <li class="media" *ngFor="let thread of threads?.data">
        <app-avatar letter="{{ thread.author.userName.charAt(0).toUpperCase() }}" alt="User profile image"></app-avatar>
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{ thread.title }}</h5>
            {{ thread.replies[0].body | excerpt:140 }}
        </div>
    </li>
</ul>

<app-pagination (goPage)="goToPage($event)"
               (goNext)="onNext()"
               (goPrev)="onPrev()"
               [page]="page"
               [perPage]="limit"
               [count]="total"></app-pagination>