.thread {
    border-bottom: 1px solid #EEE;
    margin-bottom: 1rem;
}

.avatar {
    padding-top: 0.3rem;
}

.thread-actions {
    padding: .5rem 0 1rem 0;
}

@media (max-width: 767.98px) {
    .addreply {
        margin-bottom: 1rem;
    }
}

input[type="submit"] {
    margin-top: 1rem;
    cursor: pointer;
}

form > button {
    margin-top: 1rem;
}
