.media-body {
    cursor: pointer;
    overflow: hidden;
}

@media (max-width: 575.98px) {
    .legend {
        display: none;
    }

    .replies-col {
        display: none;
    }

    .views-col {
        display: none;
    }
}

.replies {
    font-size: 1.3rem;
    margin-left: -1.2rem;
}

.views {
    font-size: 1.3rem;
    margin-left: -1.2rem;
}

.thread {
    border: 1px solid transparent;
    margin-bottom: 2rem;
}

    .thread > ul {
        margin: 0;
    }

    .thread:hover {
        border: 1px solid #EEE;
    }

.media-body > p {
    margin-bottom: 0;
}

.thread-info {
    font-size: 2.2rem;
}

.badge {
    margin-right: .5rem;
    color: #FFF;
}

    .badge:hover {
        opacity: 1 !important;
    }

a.badge {
    color: #FFF;
}

    a.badge:hover {
        color: #FFF;
        cursor: pointer;
    }

.taglist {
    padding-left: 1rem;
}

.avatar {
    padding-top: .4rem; /* To negate the padding by the media */
}