<form>
    <div class="form-group">
        <input [(ngModel)]="thread.title" name="title" class="form-control form-control-lg" type="text" placeholder="Thread title">
    </div>
    <div class="dropdown">
        <select class="custom-select">
            <option *ngFor="let tag of tags" value="tag.id">{{ tag.label }}</option>
        </select>
    </div>
    <div class="form-group">
        <app-simplemde [(model)]="reply.body"></app-simplemde>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>