<form ngNativeValidate>
    <div class="form-group">
        <input [(ngModel)]="thread.title"
               name="title"
               class="form-control form-control-lg"
               type="text"
               placeholder="Thread title"
               #title="ngModel"
               required>
        <!-- || title.pristine -->
        <small [hidden]="title.valid"
               class="form-text text-danger" role="alert">
                Thread title is required.
        </small>
    </div>
    <div class="dropdown">
        <select [(ngModel)]="selectedTag"
                name="selectedTag"
                class="custom-select"
                [ngStyle]="{'border-color': selectedTag?.color}">
            <option *ngFor="let tag of tags" [ngValue]="tag">{{ tag.label }}</option>
        </select>
    </div>
    <div class="form-group">
        <app-simplemde [(model)]="reply.body" required></app-simplemde>
        <small [hidden]="reply.body?.length > 0"
               class="form-text text-danger" role="alert">
            Thread body is required.
        </small>
    </div>
    <input type="submit"
           class="btn btn-primary"
           value="Submit"
           [disabled]="reply.body?.length <= 0 || !title.valid">
</form>