# .NET Core
appsettings*
# Temp
Data/Migrations

# Angular
node_modules
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# Webpack stuff
wwwroot/dist/

# Anything with js
*.js
*.js.map