# .NET Core
appsettings*
# Temp
Data/Migrations

# Angular
node_modules
    # misc
    /.sass-cache
    /connect.lock
    /coverage
    /libpeerconnection.log
    npm-debug.log
    testem.log
    /typings
    yarn-error.log

# Webpack stuff
wwwroot/dist/

# NPM
npm-debug.log

# Anything with js
*.js
*.js.map